@media only screen and (max-width: 1200px) and (min-width: 1025px) {
    .navigation nav ul li a {
        padding: 8px;
    }

    .banner_text h2 {
        font-size: 2em;
    }

    .banner_text h1 {
        font-size: 3em;
    }

    .discover_wp {
        background-position: 0;
    }

    .discover_left {
        padding-top: 1em;
    }

    .carve_pic {
        right: 0;
    }

    .discover_wp a {
        display: inline-block;
        margin-bottom: 15px;
    }

    .quality span,
    .time span,
    .communication span,
    .professionalism span {
        font-size: 13px;
    }

    .pub-rat {
        width: 46%;
    }

    .public {
        width: 54%;
    }

    .latest_request_text h1 {
        font-size: 17px;
    }

    .contact_content h2 {
        font-size: 20px;
    }

    .profile_box h2 {
        font-size: 25px;
    }

    #faq .card .card-header .btn-header-link {
        white-space: break-spaces;
        font-size: 14px;
    }

    .our_story_content {
        margin-top: 0;
    }

    .offer_heading h5 {
        font-size: 16px;
    }

    .offer_heading div {
        font-size: 14px;
    }

    .offer_heading figure {
        width: 20%;
    }

    .tyhd p {
        font-size: 14px;
    }

    .submit_cancel {
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .navigation nav ul li a {
        padding: 8px;
    }

    .banner_text h2 {
        font-size: 2em;
    }

    .banner_text h1 {
        font-size: 3em;
    }

    .carve {
        width: 120px;
    }

    .search {
        margin-top: 1em;
    }

    .search input {
        height: 40px;
    }

    .search span {
        height: 36px;
        font-size: 16px;
    }

    .popular_category_listing li img {
        width: 50px;
    }

    .popular_category_listing li a {
        font-size: 13px;
    }

    .heading_title h1 {
        font-size: 20px;
    }

    .carve_pic {
        right: 0;
        width: 170px;
    }

    .discover_wp {
        background-position: 0;
    }

    .discover_wp p {
        font-size: 13px;
    }

    .discover_left {
        padding-top: 1em;
    }

    .discover_wp a {
        display: inline-block;
        margin-bottom: 15px;
    }

    .latest_request_text h1 {
        font-size: 15px;
        line-height: 25px;
    }

    .latest_request_text div>span:nth-child(1) {
        font-size: 13px;
        margin-right: 7px;
    }

    .latest_request_text div>span:nth-child(2) {
        font-size: 13px;
        padding-right: 7px;
    }

    .latest_request_text div>span:nth-child(3) {
        font-size: 13px;
        padding-right: 0;
    }

    .latest_request_text p {
        font-size: 13px;
    }

    .latest_request_text a {
        font-size: 14px;
    }

    .top_artist_slider h3 {
        font-size: 14px;
    }

    .top_artist_slider span {
        font-size: 13px;
    }

    .customer_slider p {
        font-size: 14px;
        line-height: 26px;
    }

    .footer_information1 div:last-child h5 {
        font-size: 13px;
    }

    .footer_information1 div:last-child a {
        font-size: 12px;
    }

    .quick_left h3 {
        font-size: 13px;
    }

    .footer_logo img {
        width: 130px;
    }

    .footer_logo h4 {
        font-size: 13px;
    }

    .footersearch input {
        width: 100%;
    }

    .footersearch span {
        border-radius: 0 7px 7px 0;
    }

    .copyright p {
        font-size: 12px;
    }

    .latest_request_heading:after {
        left: 55px;
    }

    .top_artist_heading:after {
        left: 106px;
    }

    .testimonial_heading:after {
        left: 158px;
    }

    .looking_m a {
        font-size: 14px;
    }

    .looking_m h3 {
        font-size: 16px;
    }

    .rys h5 {
        font-size: 16px;
    }

    .inner_banner_wp h1 {
        font-size: 40px;
    }

    .comment1 {
        display: block;
    }

    .pub-rat,
    .public {
        width: auto;
    }

    .post_request_button a {
        font-size: 14px;
        line-height: 18px;
        padding: 6px 0;
    }

    .contact_content h2 {
        font-size: 20px;
    }

    .profile_box h2 {
        font-size: 25px;
    }

    .project_profil label {
        font-size: 14px;
    }

    .sidebar ul.side-nav li a {
        font-size: 14px;
    }

    .job-r label,
    .edit_password_wp label {
        font-size: 14px;
    }

    #faq .card .card-header .btn-header-link {
        white-space: break-spaces;
        font-size: 14px;
    }

    .submit_cancel a {
        width: 100%;
        display: block;
        margin-bottom: 17px;
    }

    .submit_cancel a:last-child {
        margin-left: 0;
    }

    .our_story_content {
        margin-top: 0;
    }

    .our_story_content h2 {
        font-size: 25px;
    }

    .myprofile_name_label p,
    .myprofile_name_list p {
        font-size: 14px;
    }

    .myprofile_w {
        display: block;
    }

    .myprofile_l {
        width: auto;
    }

    .myprofile_r {
        width: auto;
        text-align: left;
    }

    .project_details_content span {
        font-size: 13px;
    }

    .desc-img h6 {
        font-size: 14px;
        line-height: 21px;
    }

    .description_heading_title h2 {
        font-size: 18px;
    }

    .offer_r span {
        font-size: 22px;
    }

    .offer_r p {
        font-size: 13px;
        margin-bottom: 5px;
    }

    .offer_heading h5 {
        font-size: 14px;
    }

    .offer_heading div {
        font-size: 14px;
    }

    .offer_heading figure {
        width: 30%;
    }

    .create_o a {
        font-size: 14px;
    }

    .post_comment input[type=submit] {
        font-size: 14px;
    }

    .offer_l a {
        font-size: 14px;
    }

    .tyhd p {
        font-size: 14px;
    }

    .art_gallery h6 {
        font-size: 14px;
    }

    .art_gallery img {
        height: 120px;
    }

    .overview-head figure {
        width: 25%;
    }

    .overview-head>div {
        width: 75%;
    }

    .submit_cancel {
        width: 100%;
        text-align: center;
    }

    .howit_wp .col-sm-6:last-child {
        margin-top: 0em;
    }

    .howit_wp p {
        font-size: 14px;
    }

    .howit_wp1 p {
        font-size: 14px;
    }

    .howit_wp2 a {
        font-size: 14px;
    }

    .howit_wp2 img {
        margin-top: -1em;
    }
}

@media only screen and (max-width: 767px) and (min-width: 576px) {
    .top_socialmedia {
        justify-content: left;
    }

    .top_bg .col-sm-6:first-child {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .top_bg .col-sm-6:last-child {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .popular_wp span {
        padding: 5px;
        margin-left: 3px;
    }

    footer .col-sm-3,
    footer .col-sm-9 {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .discover_wp .col-sm-5 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .top_artist_slider h3 {
        font-size: 14px;
    }

    .top_artist_slider span {
        font-size: 13px;
    }

    .customer_slider p {
        font-size: 14px;
        line-height: 26px;
    }

    .footersearch input {
        width: 90%;
    }

    .carve {
        width: 37%;
        left: 0;
    }

    .container {
        max-width: 700px;
    }

    .looking_m a {
        font-size: 13px;
        padding: 6px 10px;
    }

    .looking_m h3 {
        font-size: 15px;
    }

    .rys h5 {
        font-size: 15px;
    }

    .sidebar ul.side-nav li a {
        font-size: 14px;
    }

    .help-ico select {
        height: 37px;
    }

    .location_l,
    .location_r {
        width: 50%;
    }

    .our_story_content {
        margin-top: 0;
    }

    .art_gallery h6 {
        font-size: 14px;
    }

    .art_gallery img {
        height: 120px;
    }

    .howit_wp .col-sm-6:last-child {
        margin-top: 0;
    }

    .howit_wp p {
        margin-top: 1em;
        font-size: 14px;
    }

    .howit_wp1 h5 {
        font-size: 15px;
    }

    .howit_wp1 p {
        font-size: 14px;
        line-height: 23px;
    }

    .howit_wp2 .heading_title h1 {
        text-align: left;
    }

    .howit_wp2 img {
        margin-top: 0;
    }

    .howit_wp2 a {
        font-size: 14px;
    }

}

@media only screen and (max-width: 575px) and (min-width: 320px) {
    .carve {
        width: 25%;
        left: 45px;
    }

    .top_artist_slider img {

        height: 230px;

    }

    .banner_pic img:nth-child(2) {
        width: 68%;
    }

    .banner_pic {
        text-align: center;
    }

    .banner_text h1 {
        font-size: 3em;
    }

    .popular_category_listing li img {
        width: 50px;
    }

    .missionwp {
        padding: 0em 0 3em;
    }

    .customer_slider p {
        font-size: 14px;
        line-height: 22px;
    }

    .footersearch input {
        width: 85%;
    }

    .latest_request_text div>span:nth-child(1) {
        font-size: 13px;
        margin-right: 10px;
    }

    .latest_request_text div>span:nth-child(2) {
        font-size: 13px;
        padding-right: 10px;
    }

    .latest_request_text div>span:nth-child(3) {
        font-size: 13px;
        padding-right: 10px;
    }

    .latest_request_text div>span:nth-child(4) {
        font-size: 13px;
    }

    .latest_request_text div>span:nth-child(4) a {
        margin-top: 0;
        padding: 0;
    }

    .profile_box {
        margin-bottom: 0em;
        padding: 15px;
    }

    .howit_wp .col-sm-6:last-child {
        margin-top: 1em;
    }

    .howit_wp p {
        font-size: 17px;
        line-height: 30px;
        margin-top: 1em;
    }

    .howit_wp1 p {
        font-size: 17px;
        line-height: 30px;
    }

    .howit_wp2 img {
        width: 280px;
        height: 300px;
        float: right;
    }

    .howit_wp2 a {
        font-size: 14px;
    }

    .howit_wp2 .heading_title h1 {
        text-align: left;
    }

    .about_wp img,
    .missionwp img {
        height: 300px;
    }

    .our_story_content {
        margin-top: 2em;
    }

    .howit_wp {
        padding: 3em 0;
    }

    .howit_wp1 {
        padding: 3em 0 0;
    }

    .howit_wp2 {
        padding: 3em 0;
    }

    .chat_browser span:first-child {
        width: 10%;
        margin-top: 3px;
    }

    .chat_browser span:nth-child(3) {
        width: 13%;
    }

    .inner_banner_wp1 {
        height: 165px;
    }

    .artist_pro_tab .nav-tabs {
        margin-bottom: 2em;
    }

    .withdraw {
        margin-top: 15px;
    }

    .but111 {
        padding: 6px 10px;
    }

    .table-responsive {
        margin-bottom: 15px;
    }

}

@media all and (max-width : 767px) {

    .smobitrigger,
    .mnuclose {
        display: inline-block;
    }

    .smobitrigger {
        color: #47120f;
        font-size: 25px;
        padding: 5px;
    }

    .mnuclose {
        font-size: 20px;
        padding: 10px 20px;
        width: 100%;
        background: rgba(0, 0, 0, 0.18);
        text-align: right;
    }

    .navigation nav ul {
        padding-bottom: 40px;
        overflow-y: auto;
    }

    .navigation nav ul li,
    .navigation nav ul li a {
        width: 100%;
    }

    .navigation nav ul li a {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .navigation nav ul li a:hover {
        background: rgba(0, 0, 0, 0.29);
    }

    .mobimenu {
        list-style: none;
        padding: 20px;
        margin: 0px;
        width: 210px;
        position: fixed;
        height: 100%;
        top: 0px;
        right: -250px;
    }

    .mnuopn {
        right: 0px !important;
    }

    .ovrActv {
        position: fixed;
        background: rgba(0, 0, 0, 0.79);
        width: 100%;
        height: 100%;
        z-index: 9998;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
    }

    .signup a {
        width: 50% !important;
        margin-left: 18px;
        margin-top: 8px;
        text-align: center;
    }

    .help_wp {
        padding: 0 15px;
    }

    .top_socialmedia {
        justify-content: center;
        margin-bottom: 12px;
    }

    .right_icon {
        float: none;
        margin-bottom: 0;
    }

    .banner_text h2 {
        font-size: 2em;
    }

    .banner_text h1 {
        font-size: 3em;
    }

    .banner_text h2 {
        font-size: 1.5em;
    }

    .popular_category_listing {
        margin-top: 0;
        padding-bottom: 1em;
        display: grid;
        gap: 7px 6px;
        grid-template-columns: repeat(3, 1fr);
    }

    .popular_category_listing li {
        width: auto;
        padding: 10px 0;
        margin: 0 4px;
        box-shadow: none;
    }

    .QIkI1k0 {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        background-color: #fff;
        border-radius: 16px;
        -webkit-box-shadow: 0 0 0.880517px rgb(0 0 0 / 3%), 0 0 2.29197px rgb(0 0 0 / 3%), 0 0 5.52px rgb(0 0 0 / 5%), 0 0 11px rgb(0 0 0 / 9%);
        box-shadow: 0 0 0.880517px rgb(0 0 0 / 3%), 0 0 2.29197px rgb(0 0 0 / 3%), 0 0 5.52px rgb(0 0 0 / 5%), 0 0 11px rgb(0 0 0 / 9%);
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 98px;
        -webkit-justify-content: center;
        justify-content: center;
    }

    .banner_text {
        margin-top: 1em;
    }

    .search {
        margin-top: 2em;
    }

    .popular_wp {
        margin-top: 2em;
        padding-bottom: 2em;
    }

    .carve_pic {
        right: 0;
        width: 100px;
    }

    .discover_left {
        padding-top: 1em;
    }

    .discover_wp {
        background-position: 0;
    }

    .latest_request_text h1 {
        margin-top: 10px;
        font-size: 16px;
        line-height: 25px;
    }

    .owl-carousel .owl-nav button.owl-prev {
        position: relative;
        left: 0;
        bottom: 0;
    }

    .owl-carousel .owl-nav button.owl-next {
        position: relative;
        right: 0;
        bottom: 0;
    }

    .heading_title h1 {
        display: block;
        font-size: 32px;
        line-height: 40px;
    }

    .testimonial_animation {
        right: 5px;
        bottom: 0;
    }

    .testimonial_heading:after {
        left: 141px;
    }

    .footer_information {
        display: block;
        margin-top: 1em;
    }

    .footer_information1 {
        width: auto;
        margin-bottom: 18px;
    }

    .quick_wp {
        display: block;
    }

    .quick_left {
        width: auto;
        margin-bottom: 30px;
    }

    .copyright p {
        margin-bottom: 10px;
        text-align: center;
    }

    .heading_title:after {
        left: 143px;
        display: none;
    }

    .view_all {
        padding-top: 10px;
    }

    .banner_wp {
        background-position: bottom;
    }

    .inner_banner_wp h1 {
        font-size: 25px;
        margin-bottom: 0;
    }

    .filter_section {
        display: block;
        width: 93%;
    }

    .post_request_button {
        width: auto;
        border-right: none;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 10px;
    }

    .search_bar {
        width: auto;
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .all_categori {
        width: auto;
        margin-bottom: 10px;
    }

    .sr {
        width: auto;
        line-height: 42px;
    }

    .inner_banner_wp {
        height: 125px;
    }

    .describe_wp {
        padding: 0 13px;
    }

    .description_left img {
        height: 200px;
        object-fit: cover;
    }

    .offer_section {
        display: block;
    }

    .offer_l {
        width: auto;
    }

    .offer_r {
        width: auto;
        padding-left: 0;
        text-align: left;
        margin: 10px 0;
    }

    .offer_heading figure img {
        width: 60px;
        height: 60px;
    }

    .offer_heading figure {
        width: 17%;
        float: none;
    }

    .offer_heading h5 {
        font-size: 16px;
    }

    .project_details_right {
        margin: 0;
    }

    .project_details_right {
        margin: 0 0 30px 0;
    }

    .customer_wp {
        background-position: center;
    }

    .missionwp p,
    .about_wp p {
        margin-bottom: 15px;
        font-size: 17px;
        line-height: 30px;
        margin-top: 1em;
    }

    .sign_wp .col-sm-6:first-child {
        border-right: none;
        padding-right: 15px;
        margin-bottom: 3em;
    }

    .sign_wp .col-sm-6:last-child {
        padding-left: 15px;
    }

    .contact_content {
        margin-bottom: 1em;
    }

    .overview-head figure {
        width: 45%;
    }

    .overview-head>div {
        width: 88%;
    }

    .myprofile_r figure img,
    .overview-head figure img {
        width: 75px;
        height: 75px;
    }

    .location_a1 {
        display: block;
        margin-bottom: 15px;
    }

    .location_l2 {
        width: auto;
    }

    .location_l2 h5 {
        font-size: 14px;
        padding-bottom: 2px;
    }

    .location_r2 {
        width: auto;
    }

    .comment1 {
        display: block;
    }

    .pub-rat {
        width: auto;
        padding-bottom: 10px;
    }

    .public {
        width: auto;
    }

    .step_one {
        margin: 0 auto 45px;
    }

    .overview-head>div p {
        float: none;
        margin-top: 0;
    }

    #faq .card .card-header .btn-header-link {
        white-space: break-spaces;
        font-size: 14px;
    }

    .offer_section1 {
        display: block;
    }

    .offer_r a {
        margin-top: 1em;
    }

    .chat_bar {
        margin-top: 1em;
    }

    .chat_bar_p p:nth-child(odd) {
        width: 90%;
    }

    .chat_bar_p p:nth-child(even) {
        width: 90%;
    }

    .chat_browser span img {
        width: 20px;
        height: 19px;
        margin-top: 7px;
    }

    .chat_browser span .fa {
        font-size: 20px;
    }

    .chat_browser span input[type="text"] {
        height: 35px;
    }

    .chat_browser span:nth-child(2) {
        width: 77%;
    }

    .contact_content h2 {
        font-size: 20px;
    }

    .our_story_wp p {
        margin-top: 20px;
        font-size: 17px;
        line-height: 30px;
    }

    .profile_box h2 {
        font-size: 25px;
    }

    .project_profil label {
        font-size: 14px;
    }

    .job-r label,
    .edit_password_wp label {
        font-size: 14px;
    }

    .qwe {
        display: block;
    }

    .inbox-box .admin-text,
    .inbox,
    .qwe2 {
        width: auto;
    }

    .uys5 ul li a {
        font-size: 14px;
        padding: 2px 10px;
    }

    .submit_cancel a {
        width: 100%;
        display: block;
        margin-bottom: 17px;
    }

    .submit_cancel a:last-child {
        margin-left: 0;
    }

    .our_story_content h2 {
        font-size: 25px;
    }

    .myprofile_name_label p,
    .myprofile_name_list p {
        font-size: 14px;
    }

    .myprofile_r figcaption {
        font-size: 14px;
    }

    .myprofile_w {
        display: block;
    }

    .myprofile_l {
        width: auto;
    }

    .myprofile_r {
        width: auto;
        text-align: left;
    }

    .step_one h5 {
        font-size: 16px;
    }

    .step_one p {
        line-height: 19px;
    }

    .latest_request_text a {
        font-size: 14px;
    }

    .project_description_wp .col-sm-8,
    .project_description_wp .col-sm-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .tyhd p {
        font-size: 14px;
    }

    .submit_cancel {
        width: 100%;
        text-align: left;
    }

    .filter-btn {
        margin-left: 0px;
    }

    .offer_r img {
        height: 80px !important;
        float: right;
    }


    .ex li h2 {
        font-size: 18px;
    }

    .ex li small {
        display: block;
    }

    .review_right {
        display: block;
    }

    .review_right1,
    .review_right2 {
        width: auto;
    }

    .artist_pro_r h1 {
        font-size: 24px;
    }

    .artist_pro_r {
        padding-top: 8px;
    }

    .portfolio4 {
        padding-left: 0;
        padding-right: 0;
    }

    .portfolio_details_right {
        box-shadow: none;
        height: auto;
    }

    .portfolio6,
    .portfolio3 {
        padding: 25px 0 0;
    }

    .navwrp {
        margin-top: 0;
    }

    .logo img {
        width: 80px;
    }

    .menubar {
        padding: 10px 0;
    }

    .top_bg {
        display: none;
    }

    .offcanvas {
        background-color: #fff !important;
    }

    .offcanvas-backdrop {
        background-color: #fff !important;
    }

    .offcanvas.offcanvas-end {
        border-left: none !important;
    }

    .offcanvas-header {
        background-color: #fff !important;
        box-shadow: 0 0 0 1px #ccc;
        padding: 10px 15px 3px;
    }

    .btn-close-white {
        filter: grayscale(100%) !important;
        opacity: 1 !important;
    }

    .offcanvas-body ul {
        height: 100%;
        padding-right: 0 !important;
    }

    .mobile_contact {
        display: flex;
        align-items: end;
        justify-content: center;
        height: 100%;
    }

    .mobile_contact button {
        background: #ef6100;
        color: #fff;
        border-radius: 6px;
        box-shadow: 0 1px 2px 2px #47120f;
        font-family: Poppins, sans-serif;
        padding: 10px 22px;
        transition: box-shadow 1s;
        margin-bottom: 15px;
        display: inline-block;
        width: 100%;
        border: none;
        font-size: 16px;
    }

    .mobile_contact button:hover {
        box-shadow: none;
    }

    .mobile_contact ul li:first-child button {
        background: #fff;
        color: #000;
    }

    .mobile_contact ul {
        width: 100%;
        display: flex;
        align-items: end;
        justify-content: center;
    }

    .mobile_contact ul li {
        width: 50%;
        margin-right: 15px;
    }

    .mobile_contact ul li:last-child {
        margin-right: 0;
    }

    .chat_bar_p p span {
        padding-top: 10px;
    }

    .chat_bar_p .even {
        font-size: 15px;
        line-height: 25px;
    }

    .step_section {
        padding-bottom: 0;
    }

    .nav-link {
        font-weight: 500 !important;
        color: #1c1c1c !important;
        padding: 17px 3px !important;
    }

    .navbar-nav .nav-link.active,
    .navbar-nav .show>.nav-link {
        color: #000 !important;
    }

    .offcanvas-body {
        padding: 0 13px !important;
        margin-top: 0px;
    }

    .menu_login {
        display: inline-flex;
        margin-top: 12px;
        margin-right: 5px;

    }

    .menu_login a {
        font-size: 15px;
        color: #080424;
        padding: 0 8px;
    }

    .right_menu_mobile_wp {
        text-align: right;
    }

    .banner_wp .row {
        display: grid;
    }

    .banner_wp .row .col-sm-5 {
        order: 2;
        padding-top: 2em;
    }

    .search {
        width: 100%;
    }

    .fd {
        font-weight: 500;
        font-size: 15px;
    }

    .hero-counter-title {
        font-size: 25px;
    }

    .hero-rating {
        padding-left: 0;
        border-left: none;
        margin-left: 0;
    }

    .discover_left .heading_title {
        margin-bottom: 1em;
        display: block;
    }

    .discover_wp p {
        font-size: 17px;
        line-height: 30px;
    }

    .latest_request_heading,
    .testimonial_heading,
    .top_artist_heading {
        margin-bottom: 2em;
        text-align: left;
    }

    .customer_wp .heading_title {
        padding: 0 15px;
    }

    .top_artist_slider h3 {
        font-size: 15px;
    }

    .top_artist_slider span {
        font-size: 12px;
        line-height: 14px;
    }

    .footer_logo p {
        color: #d9d9d9;
        font-size: 15px;
    }

    .quick_left h3 {
        font-size: 19px;
        letter-spacing: 0.5px;
        padding-bottom: 10px;
    }

    .quick_left p,
    .quick_left ul li a {
        color: #d9d9d9;
        font-size: 15px;
    }

    .quick_left ul li {
        line-height: 29px;
    }

    .popular_category_listing li a p {
        padding-top: 8px;
        font-size: 14px;
        line-height: 21px;
        word-break: break-all;
        font-weight: 600;
        text-align: center;
    }

    .ZgAjw6a {
        display: inline-block;
        width: 100%;
        background: #F5F5F5;
        border: none;
        font-size: 16px;
        padding: 10px 0;
        border-radius: 8px;
        font-weight: 600;
        font-family: "Poppins", sans-serif;
        display: block;
    }

    .v0vd7jw {
        display: none;
    }

    .ZgAjw6a .fa {
        font-size: 20px;
        position: relative;
        top: 1px;
        left: 3px;
    }

    .about_wp .col-sm-6:last-child,
    .missionwp .col-sm-6:first-child {
        margin-top: 2em;
    }

    .our_story_wp img {
        height: 300px;
    }

    .b-li ul li {
        padding-bottom: 10px;
    }

    .project_loop p {
        font-size: 14px;
    }

    .public p {
        line-height: 25px;
        margin-bottom: 5px;
    }

    .description_left p {
        font-size: 17px;
        line-height: 30px;
    }

    a.kts {
        padding-left: 0;
    }

    .ex li {
        width: auto;
    }

    .review_right2 img {
        width: 50%;
    }

    .artist_pro_l img {
        background: #fff;
    }

    .manage_p2 {
        width: auto;
        margin-right: 0;
    }

    .artist_pro_tab {
        margin-top: 0;
    }

}